{% extends 'staff/staff_base.html' %}
{% block content %}

<h1>Manage Orders</h1>

<br><br>

<div class="dashboard-grid">

    {% for order in orders %}

    <div class="dashboard-card">

        <h3>
            Order #{{ order.id }}
        </h3>

        <br>

        <p>
            Customer ID :
            {{ order.user_id }}
        </p>

        <br>

        <p>
            Address :
            {{ order.address }}
        </p>

        <br>

        <p>
            Phone :
            {{ order.phone }}
        </p>

        <br>

        <p>
            Payment :
            {{ order.payment_method }}
        </p>

        <br>

        <h3>
            ₹{{ order.total_price }}
        </h3>

        <br>

        <p>
            Status :
            {{ order.status }}
        </p>

        <br>
        <br><br>

        <a href="/update-order-status/{{ order.id }}/Approved">

            <button class="btn">

                Approve

            </button>

        </a>

        <a href="/update-order-status/{{ order.id }}/Shipped">

            <button class="btn">

                Mark Shipped

            </button>

        </a>

        <br><br>

        <a href="/update-order-status/{{ order.id }}/Delivered">

            <button class="btn">

                Mark Delivered

            </button>

        </a>

    </div>

    {% endfor %}

</div>

{% endblock %}