{% extends 'base.html' %}

{% block content %}

<div class="login-container">
    <!-- FLASH MESSAGES -->

    {% with messages = get_flashed_messages() %}

        {% if messages %}

            {% for message in messages %}

                <div class="flash-message">

                    {{ message }}

                </div>

            {% endfor %}

        {% endif %}

    {% endwith %}


    <form class="login-form"
    method="POST"
    action="/login">

        <h2>Login</h2>

        <input type="email"
        name="email"
        placeholder="Enter Email"
        required>

        <input type="password"
        name="password"
        placeholder="Enter Password"
        required>

        <button class="btn">
            Login
        </button>

        <br><br>

        <p style="text-align:center;">

            Don't have an account?

            <a href="/register"
            style="color:#38bdf8;">
                Register
            </a>

        </p>

    </form>

</div>

{% endblock %}