{% extends 'base.html' %}

{% block content %}

<div class="login-container">

    <div class="login-form">

        <h2>My Profile</h2>

        <br>

        <p>

            <strong>Username :</strong>

            {{ user.username }}

        </p>

        <br>

        <p>

            <strong>Email :</strong>

            {{ user.email }}

        </p>

        <br>

        <p>

            <strong>Role :</strong>

            {{ user.role }}

        </p>

    </div>

</div>

{% endblock %}