{% extends 'base.html' %}

{% block content %}

<div class="login-container">

    <form class="login-form"
    method="POST">

        <h2>Rate Your Order</h2>

        <select name="rating" required>

            <option value="">Select Rating</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>

        </select>

        <textarea
        name="comment"
        placeholder="Write review..."
        required
        style="width:100%; height:120px;"></textarea>

        <button class="btn">
            Submit Review
        </button>

    </form>

</div>

{% endblock %}